<f:form id="form-order" class="form"
        name="orderItem"
        object="{orderItem}"
        action="orderCart"
        method="post">
    <div class="form-row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="form-column">
                <f:render partial="Cart/OrderForm/Address/Billing" arguments="{billingAddress:billingAddress}"/>
                <ul class="form-list">
                    <li class="control">
                        <label for="shipping_same_as_billing">
                            <f:form.checkbox name="shipping_same_as_billing" checked="true"
                                             id="shipping_same_as_billing" value="true"
                                             title="An dieselbe Adresse versenden"
                                             class="checkbox"/>
                            <span>An dieselbe Adresse versenden</span>
                        </label>
                    </li>
                </ul>
                <f:render partial="Cart/OrderForm/Address/Shipping" arguments="{shippingAddress:shippingAddress}"/>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8" style="padding: 0;">
            <div class="">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="">
                        <f:render partial="Cart/OrderForm/ShippingMethod" arguments="{cart:cart, shippings:shippings}"/>
                        <f:render partial="Cart/OrderForm/PaymentMethod" arguments="{cart:cart, payments:payments}"/>
                        <f:render partial="Cart/OrderForm/Coupon" arguments="{cart:cart}"/>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-column">
                        <f:render partial="Cart/OrderForm/Cart" arguments="{cart: cart}"/>

                        <f:if condition="{cart.isOrderable}">
                            <f:then>
                                <div class="form-block">
                                    <div class="col-sm-6">
                                        <f:form.submit class="btn btn-primary"
                                                       value="{f:translate(key: 'tx_cart.submit_order', default: '[submit order]')}"/>
                                    </div>
                                </div>
                            </f:then>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:form>